# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/jdsports

# Node environment
NODE_ENV=development

# Port for the Express API
PORT=3000

# Algolia credentials (MY + SG)
ALGOLIA_APP_ID=4D2A6Y0IG5
ALGOLIA_API_KEY=<public-search-only-key>
